<div class="about">
  <h1>About Pass Hasher</h1>
  <h2>Inspiration From:</h2>
  <ul>
    <li><a href="http://angel.net/~nic/passwd.current.html">Nic's Utilities</a></li>
    <li><a href="http://passwordmaker.org">PasswordMaker</a></li>
  </ul>

  <h2>Libraries From:</h2>
  <ul>
    <li><a href="http://pajhome.org.uk/crypt/md5/index.html">Paul Johnston's Javascript Hashing functions</a></li>
    <li><a href="http://rikkus.info/arch/sensible_sort.rb">Rik Hemsley's implementation</a> of Natural Sort on Ruby</li>
    <li>OmniAuth and Buttons</li>
    <li>Ruby on Rails</li>
  </ul>
</div>
