<div class="notices">
<% if notice then %>
  <div class="ui-widget">
    <div class="ui-state-highlight ui-corner-all">
        <p><span class="ui-icon ui-icon-info" ></span>
      <strong>Info:</strong> <%= notice %> </p>
    </div>
  </div>
<% end %>

<% if alert then %>
  <div class="ui-widget">
      <div class="ui-state-error ui-corner-all" >
          <p><span class="ui-icon ui-icon-alert" ></span>
          <strong>Alert:</strong> <%= alert %></p>
      </div>
  </div>
<% end %>
</div>
