<div class="todo">
  <h1>Todo List:</h1>
  <ul>
    <li>Hash the password</li>
    <li>We want to run the hash multiple times as well</li>
    <li>Add hash times to Places? or just use standard number</li>
    <li>Ajax add place</li>
    <li>Ajax delete place</li>
    <li>Add notes field to Places? or just use description field?</li>
    <li>Choose hash type</li>
    <li>Option needed to purge my profile</li>
    <li>Move About and Todo content to tabs</li>
    <li>Option needed to create local version - does not support adding new places - perhaps zip up a version without "add place button"</li>
    <li>Add anonymous hasher - do not store places, but allow to hash individual.  Would be same functionality as passwordmaker.org though... (maybe the simplified ui would be useful?)</li>
    <li>Option to copy directly to System Clipboard - not supported by browsers through javascript.</li>

    <li>Architecture idea:  Mongo db</li>
  </ul>
</div>
