<div class="todo">
  <h1>Todo List:</h1>
  <h2>Definite</h2>
  <ol>
    <li>Ajax delete place</li>
    <li>Ajax add place</li>
    <li>Option needed to purge my profile</li>
    <li>Allow edit of places now that there is quite a lot of info there</li>
    <li>Specify length limit of generated pass</li>
    <li>Stylize show/hide advanced columns with javascript slider</li>
  </ol>
  <h2>Maybe</h2>
  <ul>
    <li>NoSql</li>
    <li>Choose hash type</li>
    <li>Option needed to create local version - does not support adding new places - perhaps zip up a version without "add place button"</li>
    <li>Option to copy directly to System Clipboard - not supported by browsers through javascript.</li>
  </ul>
  <h2>Features Implemented</h2>
  <ul>
    <li>Persist Places</li>
    <li>Hash a password using javascript - do so multiple times and using salt - similar to Jasypt</li>
    <li>Reset button clears generated password and master password</li>
    <li>Expand/Collapse Advanced Features</li>
    <li>Uses Sensible defaults for Advanced Features</li>
    <li>Allow user to store notes about a place</li>
    <li>Places should be sorted naturally by name</li>
    <li>Move About and Todo content to tabs</li>
    <li>Add anonymous hasher - do not store places, but allow to hash individual.  Would be same functionality as passwordmaker.org though... (maybe the simplified ui would be useful?)</li>
    <li>Master Password Strength Meter</li>
    <li>Notices/Alerts should fade out</li>
    <li>Extract Database config out of source tree</li>
    <li>Extract OmniAuth config out of source tree</li>
  </ul>
</div>
